<div class="container">
    <h2>Atualizar Usuário</h2>
    <form [formGroup]="registerForm">
        <div class="form-group">
            <label for="userName">Nome de Usuário:</label>        
            <input type="text" class="form-control" [(ngModel)]="userName" formControlName="userName" id="userName" name="userName">
        </div>
        <div class="form-group">
            <label for="password">Senha:</label>
            <input type="password" class="form-control" [(ngModel)]="password" formControlName="password"  id="password" name="password">
        </div>
        <div class="form-group">
            <label for="role">Perfil:</label>
            <input type="text" class="form-control" [(ngModel)]="role" formControlName="role"  id="role" name="role">
        </div>
        <button type="submit" (click)="update()" class="btn btn-primary">Salvar</button>
    </form>
</div>